body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header img {
    width: 40px;
    cursor: pointer;
}

h1 {
    margin: 20px 0;
    font-size: 5em;
    text-transform: uppercase;
    color: #a9ffdb;
}


p{
    font-size: 1.5em;
    margin: 20px 0;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Ruimte tussen afbeelding en tekst */
    margin: 40px auto;
    max-width: 80%;
}

.project-image {
    flex: 1;
    max-width: 50%; /* Beperk de breedte van de afbeelding */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.text-content {
    flex: 1;
    text-align: left; /* Tekst links uitlijnen */
    margin-left: 1em;
}

.description {
    line-height: 1.6;
    margin-bottom: 20px;
}

.link {
    display: inline-block;
    margin-top: 10px;
    color: #a9ffdb;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px 20px;
    border: 2px solid #a9ffdb;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.link:hover {
    background-color: #a9ffdb;
    color: black;
    text-decoration: none;
}

/* Responsiviteit voor kleinere schermen */
@media (max-width: 768px) {
    .content {
        flex-direction: column; /* Stapel afbeelding en tekst onder elkaar */
        text-align: center;
    }

    .project-image {
        max-width: 100%; /* Laat de afbeelding de volledige breedte gebruiken */
    }

    .text-content {
        text-align: center; /* Tekst centreren op kleinere schermen */
    }
}